body{
    background-image: linear-gradient(white,purple);
    height: 100vh;
    font-family: sans-serif;
}
.navimg {
    display: block !important;
    /* margin: auto !important; */
    height: 50px !important;
    width: 50px !important;
    
}


.container {
    height: 80vh;
    border: 2px solid white;
    border-radius: 10px;
    max-width: 130vh;
    margin: auto;
    overflow-y: auto;
    display: none;
    
}
.username
{
    height: 80vh;
        border: 2px solid white;
        border-radius: 10px;
        max-width: 130vh;
        margin: auto;
        overflow-y: auto;
        
}
.username h1{
    text-align: center;
}
.left
{
    padding: 20px;
    background-color: rgb(255, 255, 255);
    width: 60vh;
    margin: 10px 5px;
    float: left;
    border-radius: 20px;
    /* border: 2px solid white; */
   
    
}
.right
{
    padding: 20px;
    background-color: rgb(34, 92, 253);
    width: 60vh;
    margin: 10px 5px;
    float: right;
    /* border: 2px solid white; */
    border-radius: 20px;
    color: white;
    
}
.send
{
    width: 130vh;
    margin: auto;
    margin-top: 10px;
    display: none;
}
#message 
{
    width: 115vh;
    height: 40px;
    border-radius: 10px;
}
#username
{
    width: 115vh;
    height: 40px;
    border-radius: 10px;
}
.btn:hover{
    cursor: pointer;
}
.btn
{
    height: 45px;
    width: 90px;
    background-color: purple;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    

}

#username-form
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}